.wellcrafted-form-title-note
    font-size .9em
    font-weight normal
    
#wellcrafted_core_featured_image
    width 100px 

.wellcrafted_column_thumbnail_wrapper
    background center center
    background-size cover  
    height 100px
    width 100px 
    
